.bg-info {
    padding: 10px;
    text-align: center;
}

figure {
  width: 500px;
  margin: 0 auto;
  display: block;
  img{
    width: 500px;
  }
}

button{
  width: 100px;
  margin: 10px auto 20px;
  display: block !important;
}

.clipShow{
  margin: 20px auto;
  display: block;
}
